flows/beckhoff-flow.json
[
    {
        "id": "81e64133e524daf6",
        "type": "tab",
        "label": "Beckhoff",
        "disabled": false,
        "info": ""
    },
    {
        "id": "40d34e0aac11bfb8",
        "type": "inject",
        "z": "81e64133e524daf6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "d047938654663578",
                "b25ccd17eab092e0",
                "1deeb68e3f6c3ec4"
            ]
        ]
    },
    {
        "id": "5a7d2e15951a0dfa",
        "type": "inject",
        "z": "81e64133e524daf6",
        "name": "Light On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "b184aef5d57082ba"
            ]
        ]
    },
    {
        "id": "ae70075b775354fb",
        "type": "inject",
        "z": "81e64133e524daf6",
        "name": "Light Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "b184aef5d57082ba"
            ]
        ]
    },
    {
        "id": "63e321233c9f7193",
        "type": "inject",
        "z": "81e64133e524daf6",
        "name": "Fan On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "32000",
        "payloadType": "str",
        "x": 450,
        "y": 780,
        "wires": [
            [
                "b80e20c9c786f747"
            ]
        ]
    },
    {
        "id": "c1fa747d5907aa1d",
        "type": "inject",
        "z": "81e64133e524daf6",
        "name": "Fan Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "b80e20c9c786f747"
            ]
        ]
    },
    {
        "id": "dd790f837a8258f6",
        "type": "debug",
        "z": "81e64133e524daf6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 740,
        "wires": []
    },
    {
        "id": "d047938654663578",
        "type": "OpcUa-Item",
        "z": "81e64133e524daf6",
        "item": "ns=4;s=MAIN.nTemperature",
        "datatype": "Int16",
        "value": "",
        "name": "nTemperature",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "26310d8158295a2f"
            ]
        ]
    },
    {
        "id": "b25ccd17eab092e0",
        "type": "OpcUa-Item",
        "z": "81e64133e524daf6",
        "item": "ns=4;s=MAIN.nFan",
        "datatype": "UInt16",
        "value": "",
        "name": "nFan",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "007b7a8de8250406"
            ]
        ]
    },
    {
        "id": "b184aef5d57082ba",
        "type": "OpcUa-Item",
        "z": "81e64133e524daf6",
        "item": "ns=4;s=MAIN.bLamp",
        "datatype": "Boolean",
        "value": "msg.payload",
        "name": "Control Lamp",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "69ac06d4db69ce13"
            ]
        ]
    },
    {
        "id": "1deeb68e3f6c3ec4",
        "type": "OpcUa-Item",
        "z": "81e64133e524daf6",
        "item": "ns=4;s=MAIN.bLamp",
        "datatype": "String",
        "value": "",
        "name": "bLamp",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "c8172d52657bc849"
            ]
        ]
    },
    {
        "id": "b80e20c9c786f747",
        "type": "OpcUa-Item",
        "z": "81e64133e524daf6",
        "item": "ns=4;s=MAIN.nFan",
        "datatype": "UInt16",
        "value": "msg.payload",
        "name": "Fan Control",
        "x": 650,
        "y": 800,
        "wires": [
            [
                "69ac06d4db69ce13"
            ]
        ]
    },
    {
        "id": "26310d8158295a2f",
        "type": "OpcUa-Client",
        "z": "81e64133e524daf6",
        "endpoint": "785716c79e1faab9",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "5",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "c1b20722b5265afa"
            ]
        ]
    },
    {
        "id": "007b7a8de8250406",
        "type": "OpcUa-Client",
        "z": "81e64133e524daf6",
        "endpoint": "785716c79e1faab9",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "5",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "c1b20722b5265afa"
            ]
        ]
    },
    {
        "id": "c8172d52657bc849",
        "type": "OpcUa-Client",
        "z": "81e64133e524daf6",
        "endpoint": "785716c79e1faab9",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "5",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "c1b20722b5265afa"
            ]
        ]
    },
    {
        "id": "69ac06d4db69ce13",
        "type": "OpcUa-Client",
        "z": "81e64133e524daf6",
        "endpoint": "785716c79e1faab9",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 860,
        "y": 740,
        "wires": [
            [
                "dd790f837a8258f6"
            ]
        ]
    },
    {
        "id": "10c0d00ed7b22eda",
        "type": "moduleoutput",
        "z": "81e64133e524daf6",
        "client": "ad0fb0dd.c701d",
        "output": "Output1",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "c1b20722b5265afa",
        "type": "function",
        "z": "81e64133e524daf6",
        "name": "Reported msg",
        "func": "var reported = { payload:\n\"{\\\"\" + msg.topic + \"\\\": \\\"\" + msg.payload + \"\\\"}\" }\nreturn reported;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "10c0d00ed7b22eda"
            ]
        ]
    },
    {
        "id": "bb5cb98199170df8",
        "type": "modulemethod",
        "z": "81e64133e524daf6",
        "client": "ad0fb0dd.c701d",
        "method": "fanSpeed",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "3bf36038a0cf3790"
            ]
        ]
    },
    {
        "id": "097c82e251ebd0d8",
        "type": "function",
        "z": "81e64133e524daf6",
        "name": "",
        "func": "var response = { payload:\n\"{\\\"response\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "bb5cb98199170df8",
                "6a68da7edf2b67ef"
            ]
        ]
    },
    {
        "id": "6a68da7edf2b67ef",
        "type": "debug",
        "z": "81e64133e524daf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1020,
        "wires": []
    },
    {
        "id": "65bb85d60f2db523",
        "type": "modulemethod",
        "z": "81e64133e524daf6",
        "client": "ad0fb0dd.c701d",
        "method": "lampOn",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "3f898604682c6b4c",
                "d62b4645ec37c495"
            ]
        ]
    },
    {
        "id": "b221cdbc8eae75de",
        "type": "function",
        "z": "81e64133e524daf6",
        "name": "",
        "func": "var response = { payload:\n\"{\\\"response\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 640,
        "wires": [
            [
                "65bb85d60f2db523"
            ]
        ]
    },
    {
        "id": "3f898604682c6b4c",
        "type": "debug",
        "z": "81e64133e524daf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "d62b4645ec37c495",
        "type": "function",
        "z": "81e64133e524daf6",
        "name": "",
        "func": "if (msg.payload == null) {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "b221cdbc8eae75de",
                "b184aef5d57082ba"
            ]
        ]
    },
    {
        "id": "3bf36038a0cf3790",
        "type": "function",
        "z": "81e64133e524daf6",
        "name": "",
        "func": "if (msg.payload == null){\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "b80e20c9c786f747",
                "097c82e251ebd0d8"
            ]
        ]
    },
    {
        "id": "484533934241327d",
        "type": "comment",
        "z": "81e64133e524daf6",
        "name": "Send Telmetry",
        "info": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "e2160c7fa7606d4c",
        "type": "comment",
        "z": "81e64133e524daf6",
        "name": "Process Commands",
        "info": "",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "b2ec606d8d414146",
        "type": "moduletwin",
        "z": "81e64133e524daf6",
        "client": "ad0fb0dd.c701d",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "a84be37c277aa4c3"
            ]
        ]
    },
    {
        "id": "a84be37c277aa4c3",
        "type": "debug",
        "z": "81e64133e524daf6",
        "name": "Twin msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "19e3e612b5260e91",
        "type": "inject",
        "z": "81e64133e524daf6",
        "name": "Node-RED Online",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "Node-RED Online",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "21495e5d518577dc"
            ]
        ]
    },
    {
        "id": "21495e5d518577dc",
        "type": "function",
        "z": "81e64133e524daf6",
        "name": "Reported msg",
        "func": "var reported = { payload:\n\"{\\\"location\\\": \\\"\" + msg.payload + \"\\\"}\" }\nreturn reported;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "b2ec606d8d414146"
            ]
        ]
    },
    {
        "id": "785716c79e1faab9",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.30.11:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "ad0fb0dd.c701d",
        "type": "edgeclient"
    }
]