flows/beckhoff-flow.json
[{"id":"b1f563d95091937d","type":"tab","label":"Beckhoff","disabled":false,"info":""},{"id":"6302736cb4249304","type":"inject","z":"b1f563d95091937d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":300,"wires":[["5688bc31a51c34bd","7ffd55af8092223b","7f7e756c17eab2b8"]]},{"id":"34c3250b07260f4b","type":"inject","z":"b1f563d95091937d","name":"Light On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":440,"y":660,"wires":[["274c7db974c65317"]]},{"id":"b83ea500a957e49c","type":"inject","z":"b1f563d95091937d","name":"Light Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":440,"y":700,"wires":[["274c7db974c65317"]]},{"id":"656e82fe94bea787","type":"inject","z":"b1f563d95091937d","name":"Fan On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"32000","payloadType":"str","x":450,"y":780,"wires":[["35704bd40ee9c9d4"]]},{"id":"19f8dca6809297cf","type":"inject","z":"b1f563d95091937d","name":"Fan Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":450,"y":820,"wires":[["35704bd40ee9c9d4"]]},{"id":"b69e694ea171f47d","type":"debug","z":"b1f563d95091937d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":740,"wires":[]},{"id":"5688bc31a51c34bd","type":"OpcUa-Item","z":"b1f563d95091937d","item":"ns=4;s=MAIN.nTemperature","datatype":"Int16","value":"","name":"nTemperature","x":300,"y":260,"wires":[["c01e52ccc7bfb711"]]},{"id":"7ffd55af8092223b","type":"OpcUa-Item","z":"b1f563d95091937d","item":"ns=4;s=MAIN.nFan","datatype":"UInt16","value":"","name":"nFan","x":330,"y":300,"wires":[["da15e7fc9f8a91a1"]]},{"id":"274c7db974c65317","type":"OpcUa-Item","z":"b1f563d95091937d","item":"ns=4;s=MAIN.bLamp","datatype":"Boolean","value":"msg.payload","name":"Control Lamp","x":640,"y":680,"wires":[["f8499eaae99db455"]]},{"id":"7f7e756c17eab2b8","type":"OpcUa-Item","z":"b1f563d95091937d","item":"ns=4;s=MAIN.bLamp","datatype":"String","value":"","name":"bLamp","x":330,"y":340,"wires":[["3581f068f262b16f"]]},{"id":"35704bd40ee9c9d4","type":"OpcUa-Item","z":"b1f563d95091937d","item":"ns=4;s=MAIN.nFan","datatype":"UInt16","value":"msg.payload","name":"Fan Control","x":650,"y":800,"wires":[["f8499eaae99db455"]]},{"id":"c01e52ccc7bfb711","type":"OpcUa-Client","z":"b1f563d95091937d","endpoint":"b46e3b4bde7f7347","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"5","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":520,"y":260,"wires":[["27b349e389a4d17b"]]},{"id":"da15e7fc9f8a91a1","type":"OpcUa-Client","z":"b1f563d95091937d","endpoint":"b46e3b4bde7f7347","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"5","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":520,"y":300,"wires":[["27b349e389a4d17b"]]},{"id":"3581f068f262b16f","type":"OpcUa-Client","z":"b1f563d95091937d","endpoint":"b46e3b4bde7f7347","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"5","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":520,"y":340,"wires":[["27b349e389a4d17b"]]},{"id":"f8499eaae99db455","type":"OpcUa-Client","z":"b1f563d95091937d","endpoint":"b46e3b4bde7f7347","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":860,"y":740,"wires":[["b69e694ea171f47d"]]},{"id":"823362976d9329bd","type":"moduleoutput","z":"b1f563d95091937d","client":"ad0fb0dd.c701d","output":"Output1","x":970,"y":300,"wires":[]},{"id":"27b349e389a4d17b","type":"function","z":"b1f563d95091937d","name":"Reported msg","func":"var reported = { payload:\n\"{\\\"\" + msg.topic + \"\\\": \\\"\" + msg.payload + \"\\\"}\" }\nreturn reported;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["823362976d9329bd"]]},{"id":"573f6f6e634f096e","type":"modulemethod","z":"b1f563d95091937d","client":"ad0fb0dd.c701d","method":"echo","x":220,"y":1260,"wires":[["ce21442aae4c9d0f"]]},{"id":"ce21442aae4c9d0f","type":"function","z":"b1f563d95091937d","name":"","func":"var response = { payload:\n\"{\\\"response\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1360,"wires":[["573f6f6e634f096e","1f32402f86f05f0a"]]},{"id":"1f32402f86f05f0a","type":"debug","z":"b1f563d95091937d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1360,"wires":[]},{"id":"276cd67cb29e6330","type":"modulemethod","z":"b1f563d95091937d","client":"ad0fb0dd.c701d","method":"fanOn","x":240,"y":920,"wires":[["212ccbe357e7500a"]]},{"id":"fb27ae68efb5983a","type":"function","z":"b1f563d95091937d","name":"","func":"var response = { payload:\n\"{\\\"response\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1100,"wires":[["276cd67cb29e6330","094c9af5b233ac34"]]},{"id":"094c9af5b233ac34","type":"debug","z":"b1f563d95091937d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1020,"wires":[]},{"id":"ac944d3be9f2e9f7","type":"modulemethod","z":"b1f563d95091937d","client":"ad0fb0dd.c701d","method":"lampOn","x":250,"y":460,"wires":[["becf0ec42cae51e1","1034ecf8e1418bb8"]]},{"id":"56bc251ae4a15cda","type":"function","z":"b1f563d95091937d","name":"","func":"var response = { payload:\n\"{\\\"response\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":640,"wires":[["ac944d3be9f2e9f7"]]},{"id":"becf0ec42cae51e1","type":"debug","z":"b1f563d95091937d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":500,"wires":[]},{"id":"1034ecf8e1418bb8","type":"function","z":"b1f563d95091937d","name":"","func":"if (msg.payload == null) {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":520,"wires":[["56bc251ae4a15cda","274c7db974c65317"]]},{"id":"212ccbe357e7500a","type":"function","z":"b1f563d95091937d","name":"","func":"if (msg.payload == null){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1000,"wires":[["35704bd40ee9c9d4","fb27ae68efb5983a"]]},{"id":"ea37ebec4778b812","type":"comment","z":"b1f563d95091937d","name":"Send Telmetry","info":"","x":410,"y":200,"wires":[]},{"id":"3e885c8efac2b1e5","type":"comment","z":"b1f563d95091937d","name":"Process Commands","info":"","x":460,"y":420,"wires":[]},{"id":"1760ae434ddc23a2","type":"moduletwin","z":"b1f563d95091937d","client":"ad0fb0dd.c701d","x":530,"y":100,"wires":[["39a2ddcb0e59d05b"]]},{"id":"39a2ddcb0e59d05b","type":"debug","z":"b1f563d95091937d","name":"Twin msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":100,"wires":[]},{"id":"4d25a6f95d4ed03b","type":"inject","z":"b1f563d95091937d","name":"Running","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"Irvine","payloadType":"str","x":120,"y":100,"wires":[["daec990f484b28c1"]]},{"id":"daec990f484b28c1","type":"function","z":"b1f563d95091937d","name":"Reported msg","func":"var reported = { payload:\n\"{\\\"location\\\": \\\"\" + msg.payload + \"\\\"}\" }\nreturn reported;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["1760ae434ddc23a2"]]},{"id":"8ceb780c34f70768","type":"inject","z":"b1f563d95091937d","name":"Stopped","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"stopped","payloadType":"str","x":120,"y":160,"wires":[["daec990f484b28c1"]]},{"id":"b46e3b4bde7f7347","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.30.11:4840","secpol":"None","secmode":"None","none":false,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"ad0fb0dd.c701d","type":"edgeclient"}]
